*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #EFEFEF;
    background-image: linear-gradient(to right, #815B5B, #E6CBA8);
}

/* index.html starts from here */

img{
    max-width: 100%;
}

nav{
    text-align: center;
    padding: 0.5em;
    background-image: linear-gradient(to right, #815B5B, #E6CBA8);
}

.nav-title{
    margin: 0;
    color: #000;
}

.container{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 0.4em;
    display: flex;
    justify-content: center;
}


ul{
    display: flex;
    font-size: 15px;
}

ul li{
    list-style: none;
    font-weight: 700;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

ul a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

ul a:hover{
    opacity: 0.5;
}

.nav-title-span{
    color: #000;
}

.carousel {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.carousel .carousel-item {
    display: none;
}

.carousel .carousel-item-visible {
    display: block;
    animation: fadeVisibility 1s;
}

.carousel .carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-actions button {
    border-radius: 50%;
    font-size: 16px;
    padding: 0.3em 0.6em;
    border: none;
    margin: 0.65em;
    background-color: #f8f8f8;
    color: #707070;
    cursor: pointer;
    font-weight: 800;
}

.carousel-actions button:hover {
    background-color: #1792D2;
    color: #f8f8f8;
}

.carousel-item-hidden {
    display: none;
}


@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.thumbnail-images{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    z-index: 1;
    bottom: 5px;
}

.thumbnail-images img{
    width: 160px;
    border-radius:none;
    margin-left: 3em;
}

.thumbnail-images-active{
    border: 3px solid #ee3523;
    opacity: 0.5;
}


.main-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    
}

.main-menu h1{
    font-weight: 500;
    font-size: 24px;
}

.main-menu p{
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    font-weight: 400;
    color:  #000;
}

.main-menu hr{
    height: 1px;
    color:  #000;
    width: 25%;
    margin-top: 1em;
    opacity: 0.7;
}

.main-title-span{
    color: red;
}

.icons img{
    max-width: 40px;
    height: 10%;
}

.icons{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.icon-para{
    display: flex;
    margin-top: 0.5em;
}

.icon-para p{
    font-size: 14px;
    font-weight: 400;
}

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    place-items: center;
    margin-top: 3em;
    text-align: center;
}

.first-content, .second-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.first-content h1,.second-content h1{
    margin: 0;
    margin-top: 1em;
    font-size: 24px;
    font-weight: 500;
}

.first-content h2,.second-content h2{
    margin: 0.5em auto;
    font-size: 18px;
    color: #000;
    font-weight: 400;
}

.first-content p, .second-content p{
    font-size: 14px;
    color: #000;
    width: 60%;
    margin: 0.7em 0;
    font-weight: 300;
}


.button{
    border: solid 1px #d3d3d3;
    padding: 9px 12px;
    color: #acacac;
    font-size: 14px;
    background-color: #fff;
    border-radius: 6px;
    margin: 1em 0;
    cursor: pointer;
    border: solid 1px #aeaeae;
}

.button:hover{
    background-color: #1b9bd6;
    color: white;
}

.detail-tag{
    text-decoration: none;
    color: #acacac;
}

.content hr{
    height: 1px;
    color:  #000;
    width: 50%;
    margin-top: 0.5em;
    opacity: 0.7;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    justify-content: center;
}

footer hr{
    height: 1px;
    color:  #000;
    width: 70%;
    margin: 1em auto;
    
}

footer ul a li{
    font-size: 14px;
    color: #000;
    font-weight: 500;
}


footer ul a li:hover{
    color:red;
}

footer p{
    font-size: 12px;
    color: #000;
    margin: 0;
    margin-bottom: 1em;
    padding-left: 1em;
}

/* contact.html starts from here */

.contact-image{
    height: 190px;
    width: 100%;
    object-fit:cover;
}

.contact-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 2em;
}

.contact-span{
    color: #000;
}

.input{
    margin-bottom: auto;
    margin-top: 1.3em;
}

.input input{
    padding: 1em 2em;
    height: 57px;
    width: 450px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    border-radius: 6px;
    border: solid 1px #aeaeae;
}

.input button{
    padding: 12px 24px;
    margin: 0;
    border: solid 1px #aeaeae;
}
.mapouter{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
}

.mapouter h1{
    font-size: 24px;
    font-weight: 600;
}
.mapouter p{
    color: #000;
    text-align: center;
    font-size: 14px;
    margin: 0;
    margin-bottom: 1em;
    width: 90%;
}
.mapouter-para-span{
    color:#000;
    font-weight: 300;
}

/* quality.html starts from here */

.quality-main{
    text-align: center;
}

.quality-main img{
    height: 190px;
    width: 100%;
    object-fit:cover;
}

.quality-video{
    object-fit: cover;
    height: 60vh;
}

.quality-first-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.quality-first-div h1{
    font-size: 18px;
    color: #333;
    font-weight: 600;
}
.quality-h2{
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.quality-h2 span{
    color:#ee3523;
}

.quality-p{
    font-size:14px;
    font-weight: 400;
    color: #000;
    width: 50%;
    margin: 0;
    margin-bottom: 0.5em;
    line-height: 22px;
}

.quality-first-div hr{
    height: 1px;
    color:  #000;
    width: 50%;
    margin: 1em auto;
    opacity: 0.7;
}

.quality-second-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quality-image-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    place-items: center;
    margin-top: 1em;
    
}
.quality-second-div img{
    width: 1110px;
    height: 250px;
    border-radius: 6px;
    margin: 1em 0
}

.quality-image-grid img{
    width: 550px;
    height: 350px;
    margin: 0;
}

.quality-image-grid p{
    font-size: 12px;
    color: #000;
    font-weight: 400;
}

/* about.html starts from here */

.about-main-img{
    height: 190px;
    width: 100%;
    object-fit:cover;
}

.about-main {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    padding: 2em;
    align-content: center;
}

.second-about-div{
    width: 70%;
    text-align: center;
    margin-left: 5em;
}


.about-main-links{
    display: flex;
    flex-direction: column;
}

.about-main-links a {
    margin-top: 1.2em;
    text-decoration: none;
    color: #231f20;
    font-weight: 500;
    font-size: 14px;
    border-bottom: 1px solid grey;
}

.about-main-links a:hover {
    color: #ee3523;
}

.first-about-div h1{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-top: 0.5em;
    color: #000;
}

.second-about-div h2{
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.second-about-div h3{
    font-size: 15px;
}

.second-about-div p{
    font-size: 14px;
    line-height: 24px;
}

.about-icons{
    display: flex;
    margin-top: 2em;
}

.about-icons img{
    max-width: 50px;
    height: 50px;
    margin: 0 auto; 
}

.about-icon-para{
    display: flex;
    font-weight: 300;
}

.about-icon-para p{
    margin: 0.8em auto;
    font-size: 13px;
    width: 100%;
}

.second-about-main{
    height: 55vh;
}

/* products.html starts from here*/

.gallery{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-row-gap: 50px;

}

.gallery-title{
    text-align: center;
    margin: 2em 0;
    font-weight: 500;
}

.gallery img{
    width: 270px;
    height: 350px;
    margin: 0 auto;
    border: 5px solid #333;
    border-radius: 7px;
    transition: all .3s ease;
    cursor: pointer;
    
}

.gallery img:hover{
    transform: scale(1.1);
}

.videos{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
place-items: center;
}

.video-title{
    text-align: center;
    margin: 2em auto;
    font-weight: 500;
    width: 10%;
    
}

.main-img{
    height: 190px;
    width: 100%;
    object-fit:cover;
}


/* parkur.html starts from here */

.parkur-main-first-div{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);
}

.parkur-main-first-div img{
    padding: 0.5em;
    border-radius: 12px;
}



@media (max-width: 775px) {
    .container{
        flex-direction: column;
        width: 100%;
    }

    .thumbnail-images{
        display: none;
    }

    .nav-title{
        font-size: 20px;
        margin-left: 1.3em;
    }

    ul li{
        font-size: 11px;
    }

    .carousel .carousel-item img {
        height: 190px;
    }

    footer hr{
        width: 100%;
        margin: 0.5em auto;
    }

    footer ul a li{
        font-size: 11px;
    }

    footer p{
        font-size: 10px;
    }

    .main-menu h1{
        font-size: 20px;
    }

    .main-menu p{
        width: 80%;
        font-size: 14px;
    }

    .main-menu hr{
        width: 50%;
    }

    .icons img{
        max-width: 50px;
        padding: 0.4em;
    }

    .icon-para p{
        font-size: 12px;
        padding: 0.4em;
    }

    .first-content h1,.second-content h1{
       font-size: 20px;
    }
    .first-content h2,.second-content h2{
        font-size: 14px;
        padding: 0.5em;
    }
    .first-content hr, .second-content hr{
        width: 70%;
    }
    .first-content p, .second-content p{
        font-size: 12px;
        width: 70%;
    }

    .button{
        font-size: 12px;
        padding: 6px 10px;
    }

    .quality-main img{
        height: 140px;
    }

    .quality-first-div h1{
        font-size: 15px;
    }

    .quality-h2{
        font-size:13px;
    }

    .quality-p{
        font-size: 12px;
        width: 70%;
        line-height: 18px;
    }

    .quality-first-div hr{
        width: 70%;
    }

    .quality-image-grid{
        padding: 0.5em;
    }

    .about-main-img{
        height: 140px;
    }

    .about-main{
        flex-direction: column;
    }

    .first-about-div h1{
        font-size: 20px;
    }

    .about-main-links a{
        font-size: 13px;
    }

    .second-about-div{
        margin-left: 0;
        width: 100%;
        margin-top: 1em;
    }

    .second-about-div h2{
        font-size: 16px;
    }

    .second-about-div p{
        line-height: 19px;
        font-size: 13px;
    }

    .second-about-div h3{
        font-size: 14px;
    }

    .about-icons img{
        max-width: 30px;
        height: 30px;
    }

    .about-icon-para p{
        font-size: 10px;
        width: 50%
    }

    .contact-image{
        height: 140px;
    }
    .contact-main{
        flex-direction: column;
    }

    .mapouter{
        max-width: 80%;
    }

    .mapouter h1{
        text-align: center;
    }
    

    #gmap_canvas{
        width: 400px;
        margin: 0 auto;
        display: block;
    }

    .input{
        margin-top: 0;
        margin-bottom: 2em;
    }

    .input input{
        padding: 0.5em 1em;
        height: 45px;
        width: 300px;
        font-size: 12px;
    }
    .input button{
        padding:10px 20px;
        font-size: 11px;
    }

    .mapouter h1{
        font-size:20px;
    }

    .mapouter p{
        font-size: 12px;
        width: 60%;
    }
    #gmap_canvas{
       padding: 3em;
       height: 300px;
       margin-top: 1em;
    }

    footer ul{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: repeat(2, 1fr);
       grid-row-gap: 10px;
    }

    ul li {
        padding: 0;
    }

    footer ul a li{
       margin: 0;
       margin-right: 3em; 
    }

    .container{
        padding: 0;
        padding-top:0.5em;
    }

    .container ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 10px;
    }

    .container ul a li{
        margin: 0;
        margin-right: 3em;
    }

    .gallery{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .gallery img{
        width: 250px;
        height: 300px;
    }

    .videos{
        display: flex;
        flex-direction: column;
    }

    .video-title{
        width: 100%;
        margin: 2em auto auto auto;
    }

    .videos video{
        margin-top: 2em;
    }


    
}





